
	<p><small>Enter your <a href="http://scrumy.com" target="_blank" title="scrumy">Scrumy</a> project name and password to generate a TSV list of user stories and workers.</small></p>
		
	<% if !@error.nil? and !@error.empty? %>
		<p class="center error">Error: <%= @error %></p>
	<% end %>
	<form action="/burndown" method="POST" id="form">
		<table class="burndown">
			<thead>
				<tr>
					<td>
						<label for="project">Project</label>
					</td>
					<td>
						<label for="password">Password</label>
					</td>
					<td>
						<label for="sprint">Sprint</label>
					</td>					
				</tr>
			</thead>
			<tbody id="formbody">
				<tr id="formrow">
					<td>
						<input type="text" placeholder="project name" name="project[][name]"/>
					</td>
					<td>
						<input type="password" placeholder="password" name="project[][password]">
					</td>
					<td>
						<input type="text" placeholder="current" name="project[][sprint]">
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3">
						<label for="master_password">Master Password</label>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<input type="password" placeholder="password" name="master_password">
					</td>
				</tr>
			</tfoot>
		<table>
		<p>
			<input type="button" name="add" id="add" value="Add Project" />
			<input type="submit" name="submit" value="Submit" />
		</p>
	</form>