<html>
<head>
	<title>Regression Steps</title>
	<link rel='stylesheet' href='/css/style.css' type='text/css' media="screen, projection"></link>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>	
	<script type="text/javascript" src="/scripts/rstep.js"></script>	
</head>
<body>
	<div id="content">
		<h1>Regression Steps</h1>
		<%= yield %>
	</div>
</body>
</html>   
	