<html>
<head>
	<title>Regression Steps</title>
	<link rel='stylesheet' href='/css/style.css' type='text/css' media="screen, projection">	
</head>
<body>
	<div id="content">
		<h1>Regression Steps</h1>
		<%= yield %>
	</div>
</body>
</html>   
	