<textarea><%= @results %></textarea>

<p><small>Now copy these results to <a href="http://spreadsheets.google.com/ccc?new&p=39165" title="a new Google Docs Spreadsheet" target="_blank">a new Google Docs Spreadsheet</a>.</small></p>