body {
	font-family: Georgia;
	color: #333;
}

#content {
	width: 600px;
	margin: 20px auto;
}
		
p {
	font-size: 30px;
	margin-bottom: 20px;
}
 
p.center {
	text-align: center;
}

p.error {
	color: #990000;
}

small {
	font-size: 14px;
}

.clear {
	clear: both;
}

label {
	display: block;
	width: 120px;
	font-size: 30px;
}

tfoot label {
	width: 100%;
}

tbody{
	margin-bottom: 20px
}

tbody input[type="text"], input[type="password"] {
	border: 1px solid #CECECE;
	font-size: 30px; 
	width: 200px;
}

.regression tbody input[type="text"],
.regression tbody input[type="password"] {
	width: 300px;
}

input[type="submit"], input[type="button"] {
	font-size: 130%;
}

textarea {
	width: 100%;
	height: 480px;
}